In [131]:
%matplotlib inline

In [133]:
import csv
import pandas as pd

In [135]:
# Read csv file
file = 'IMDb_All_Genres_etf_clean1.csv'
df = pd.read_csv(file)
df

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"
...,...,...,...,...,...,...,...,...,...,...
5557,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi
5558,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance
5559,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance"
5560,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi"
5561,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy

In [137]:
# The movie for which you want to find similar movies
target_movie = 'The Dark Knight'

In [139]:
from sklearn.metrics.pairwise import pairwise_distances

In [141]:
# Calculate pairwise Euclidean distance between movies based on their ratings
ratings = df['Rating'].values.reshape(-1, 1)
euclidean_distances = pairwise_distances(ratings, metric='euclidean')

# Convert the Euclidean distance matrix into a DataFrame 
euclidean_distances_df = pd.DataFrame(euclidean_distances, index=df['Movie_Title'], columns=df['Movie_Title'])

# Get the distance scores for the target movie
distances = euclidean_distances_df[target_movie].sort_values(ascending=True)

# Exclude the target movie from the top 10 list of similar movies
similar_movies = distances.drop(target_movie)

# Print the top 10 similar movies
top_similar_movies = similar_movies.head(10)
print(top_similar_movies)

Movie_Title
12 Angry Men                                     0.0
The Lord of the Rings: The Return of the King    0.0
Schindler's List                                 0.0
Aynabaji                                         0.0
The Godfather Part II                            0.0
777 Charlie                                      0.1
Rocketry: The Nambi Effect                       0.1
Jai Bhim                                         0.1
Pulp Fiction                                     0.1
Hababam Sinifi                                   0.2
Name: The Dark Knight, dtype: float64

In [142]:
# Select relevant columns: Movie titles and their rating
ratings_df = df[['Movie_Title', 'Rating']]

In [145]:
# Extract movie ratings
ratings = ratings_df['Rating'].values.reshape(-1, 1)

In [147]:
from sklearn.cluster import KMeans

In [149]:
# Set k-value
k = 12

In [151]:
cluster_model = KMeans(n_clusters=k)

In [153]:
cluster_model.fit(ratings)

/opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=12)

In [155]:
cluster_labels = cluster_model.predict(ratings)
rating_cluster_df = pd.DataFrame(cluster_labels, index=df.index, columns=["cluster"])

In [157]:
# Display the number of items in each cluster
rating_cluster_df["cluster"].value_counts()

cluster
3     901
6     779
11    728
2     673
5     656
10    504
0     482
1     466
8     167
9     141
4      42
7      23
Name: count, dtype: int64

In [175]:
# Group similar ratings in clusters
for cluster,ratings in rating_cluster_df.groupby("cluster"):
    print("Cluster:", cluster, "Size:", ratings.shape[0])
    
    for r_id in ratings.sample(5).index:
        print("\t", r_id, ratings_df.loc[r_id])

Cluster: 0 Size: 482
	 1456 Movie_Title    Baywatch
Rating              5.5
Name: 1456, dtype: object
	 5456 Movie_Title    Scary Movie 2
Rating                   5.3
Name: 5456, dtype: object
	 5370 Movie_Title    Valentine's Day
Rating                     5.7
Name: 5370, dtype: object
	 5437 Movie_Title    Christmas with the Kranks
Rating                               5.4
Name: 5437, dtype: object
	 2851 Movie_Title    Enough
Rating            5.7
Name: 2851, dtype: object
Cluster: 1 Size: 466
	 88 Movie_Title    Nefes: Vatan Sagolsun
Rating                           8.0
Name: 88, dtype: object
	 3018 Movie_Title    Harry Potter and the Prisoner of Azkaban
Rating                                              7.9
Name: 3018, dtype: object
	 3644 Movie_Title    Boogie Nights
Rating                   7.9
Name: 3644, dtype: object
	 3664 Movie_Title    The Lost Weekend
Rating                      7.9
Name: 3664, dtype: object
	 3003 Movie_Title    Kahaani
Rating             8.1
Name: 3003, dtype: object
Cluster: 2 Size: 673
	 5032 Movie_Title    Matilda
Rating             6.9
Name: 5032, dtype: object
	 4353 Movie_Title    The Lost Daughter
Rating                       6.7
Name: 4353, dtype: object
	 4398 Movie_Title    Sweet November
Rating                    6.7
Name: 4398, dtype: object
	 5087 Movie_Title    Police Academy
Rating                    6.7
Name: 5087, dtype: object
	 2108 Movie_Title    Surf's Up
Rating               6.7
Name: 2108, dtype: object
Cluster: 3 Size: 901
	 1006 Movie_Title    Once Upon a Time in Mexico
Rating                                6.3
Name: 1006, dtype: object
	 973 Movie_Title    Scouts Guide to the Zombie Apocalypse
Rating                                           6.3
Name: 973, dtype: object
	 2979 Movie_Title    The Red Sea Diving Resort
Rating                               6.6
Name: 2979, dtype: object
	 809 Movie_Title    Olympus Has Fallen
Rating                        6.5
Name: 809, dtype: object
	 5188 Movie_Title    Ted 2
Rating           6.3
Name: 5188, dtype: object
Cluster: 4 Size: 42
	 5538 Movie_Title    Street Fighter
Rating                    4.0
Name: 5538, dtype: object
	 4865 Movie_Title    Crossroads
Rating                3.5
Name: 4865, dtype: object
	 4860 Movie_Title    You Got Served
Rating                    3.8
Name: 4860, dtype: object
	 5537 Movie_Title    The Cat in the Hat
Rating                        4.0
Name: 5537, dtype: object
	 4861 Movie_Title    Krym
Rating          3.7
Name: 4861, dtype: object
Cluster: 5 Size: 656
	 1662 Movie_Title    The Favourite
Rating                   7.5
Name: 1662, dtype: object
	 3896 Movie_Title    The Fisher King
Rating                     7.5
Name: 3896, dtype: object
	 3095 Movie_Title    Death and the Maiden
Rating                          7.3
Name: 3095, dtype: object
	 4051 Movie_Title    Slap Shot
Rating               7.3
Name: 4051, dtype: object
	 271 Movie_Title    John Wick: Chapter 3 - Parabellum
Rating                                       7.4
Name: 271, dtype: object
Cluster: 6 Size: 779
	 3276 Movie_Title    The Empty Man
Rating                   6.2
Name: 3276, dtype: object
	 1053 Movie_Title    Transformers: Dark of the Moon
Rating                                    6.2
Name: 1053, dtype: object
	 3314 Movie_Title    The Zero Theorem
Rating                      6.0
Name: 3314, dtype: object
	 5290 Movie_Title    Daddy's Home 2
Rating                    6.0
Name: 5290, dtype: object
	 5359 Movie_Title    Barbarella
Rating                5.8
Name: 5359, dtype: object
Cluster: 7 Size: 23
	 4868 Movie_Title    Cats
Rating          2.8
Name: 4868, dtype: object
	 2917 Movie_Title    Heropanti 2
Rating                 2.6
Name: 2917, dtype: object
	 5560 Movie_Title    Superbabies: Baby Geniuses 2
Rating                                  1.5
Name: 5560, dtype: object
	 5552 Movie_Title    Date Movie
Rating                2.8
Name: 5552, dtype: object
	 5559 Movie_Title    From Justin to Kelly
Rating                          1.9
Name: 5559, dtype: object
Cluster: 8 Size: 167
	 5488 Movie_Title    Superman III
Rating                  5.0
Name: 5488, dtype: object
	 5527 Movie_Title    Nutty Professor II: The Klumps
Rating                                    4.4
Name: 5527, dtype: object
	 2895 Movie_Title    The Spirit
Rating                4.7
Name: 2895, dtype: object
	 5506 Movie_Title    102 Dalmatians
Rating                    4.8
Name: 5506, dtype: object
	 5489 Movie_Title    Casino Royale
Rating                   5.0
Name: 5489, dtype: object
Cluster: 9 Size: 141
	 2263 Movie_Title    The Departed
Rating                  8.5
Name: 2263, dtype: object
	 2273 Movie_Title    Once Upon a Time in America
Rating                                 8.3
Name: 2273, dtype: object
	 3483 Movie_Title    Full Metal Jacket
Rating                       8.3
Name: 3483, dtype: object
	 1937 Movie_Title    Toy Story
Rating               8.3
Name: 1937, dtype: object
	 2275 Movie_Title    The Sting
Rating               8.3
Name: 2275, dtype: object
Cluster: 10 Size: 504
	 3688 Movie_Title    Pride & Prejudice
Rating                       7.8
Name: 3688, dtype: object
	 3691 Movie_Title    Todo sobre mi madre
Rating                         7.8
Name: 3691, dtype: object
	 163 Movie_Title    The Lego Movie
Rating                    7.7
Name: 163, dtype: object
	 3839 Movie_Title    Les yeux sans visage
Rating                          7.6
Name: 3839, dtype: object
	 3748 Movie_Title    Lost in Translation
Rating                         7.7
Name: 3748, dtype: object
Cluster: 11 Size: 728
	 2048 Movie_Title    Dumbo
Rating           7.2
Name: 2048, dtype: object
	 2534 Movie_Title    Blue Ruin
Rating               7.1
Name: 2534, dtype: object
	 3124 Movie_Title    Janghwa, Hongryeon
Rating                        7.1
Name: 3124, dtype: object
	 2495 Movie_Title    Kvinden i buret
Rating                     7.2
Name: 2495, dtype: object
	 1777 Movie_Title    Goodbye Christopher Robin
Rating                               7.1
Name: 1777, dtype: object